@page "/student-details"
@using FirstBlazorApp.Data

<div class="d-flex flex-column gap-2">
    
    
<h3>Student Details</h3>

<div class="form-group">
    <label for="name">Full Name:</label>
    <InputText id="name" @bind-Value="FullNameToGetDetail" class="form-control" />
</div>

<button class="btn btn-primary" @onclick="ShowStudentDetail">Get Details</button>
</div>


<div class="d-flex flex-column gap-3 my-4">
    <h3>Student Details</h3>
<ul>
    @if (StudentsWithGivenName!=null && StudentsWithGivenName.Count>0)
    {
        foreach(Student s in StudentsWithGivenName)
        {
            <li>Name- @s.FullName</li>
            <li>Semester- @s.Semester</li>
            <li>
                Phone- @s.PhoneNumber
            </li>
        }
    }
    else
    {
        <p>No Student Found</p>
    }
</ul>
</div>

@code {
    string FullNameToGetDetail;
    Student s2;
    List<Student> StudentsWithGivenName;

    string path = Path.Combine(Helpers.GetPathByOs(),"Documents","BlazorAppOutputs","AllStudents.json");
    private void ShowStudentDetail()
    {
        if (!File.Exists(path))
        {
            Console.WriteLine(path);
            //we have nothing to print
        }
        else
        {
            string jsonFromFile = File.ReadAllText(path);
            {
                AllStudentsList list_s = JsonSerializer.Deserialize<AllStudentsList>(jsonFromFile);

                StudentsWithGivenName = list_s.AllStudents.Where(s => s.FullName.Equals(FullNameToGetDetail)).ToList();

            }
          

        }

    }
}